@import "top";
@import "footer";

/* 中间登录页面 */

.login {
    width: $Width;
    height: 600px;
    position: relative;
    margin-top: 145px;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -960px;
    }
    /* 版心控制 */
    .wrap {
        @extend %public;
        fieldset {
            padding: 58px 10px 83px;
            position: absolute;
            top: 50px;
            left: 45%;
            margin-left: 0;
            background-color: #fff;
            legend {
                text-align: center;
                padding-top: 50px;
                color: #b4a078;
                font-size: 20px;
            }
            p {
                margin: 20px 100px;
                width: 325px;
                position: relative;
            }
            .zhuce {
                text-decoration: none;
                color: #fff;
                background-color: #b4a078;
                display: inline-block;
            }
            .denglu {
                display: inline-block;
            }
            #username,
            #password {
                width: 220px;
                height: 30px;
                border-radius: 15px;
                outline: none;
                text-indent: 30px;
            }
            #login,
            .zhuce {
                width: 140px;
                height: 48px;
                cursor: pointer;
                text-align: center;
                color: #fff;
                background: #b4a078;
                font-size: 18px;
                line-height: 48px;
                border-radius: 20px;
                margin-right: 10px;
                outline: none;
                border: none;
            }
            span {
                position: absolute;
                top: 5px;
                left: 50%;
                margin-left: -90px;
                width: 21px;
                height: 24px;
                border-right: 1px solid #e8e8e8;
            }
            .smallpic1 {
                background: url(https://yanxuan.nosdn.127.net/d6bd29fcf2096cb4c5d338e0fce13919.png) 0 2px no-repeat;
            }
            .smallpic2 {
                background: url(https://yanxuan.nosdn.127.net/178e29b95f152a8aa6490f4f7032a8e8.png) 0 2px no-repeat;
            }
        }
    }
}