@import "top";
@import "footer";

/* 中间登录页面 */

.registry {
    width: $Width;
    height: 600px;
    position: relative;
    margin-top: 145px;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -960px;
    }
    /* 版心控制 */
    .wrap {
        @extend %public;
        fieldset {
            padding: 20px 40px 83px;
            position: absolute;
            top: 50px;
            left: 45%;
            margin-left: 0;
            background-color: #fff;
            legend {
                text-align: center;
                padding-top: 70px;
                font-size: 20px;
                color: #b4a078;
            }
            p {
                padding: 10px 10px;
                display: inline-block;
                position: relative;
                i {
                    width: 21px;
                    height: 24px;
                    display: block;
                    position: absolute;
                    top: 16px;
                    left: 80px;
                    background-color: #f00;
                    border-right: 1px solid #e8e8e8;
                }
                .smalli1 {
                    background: url(https://yanxuan.nosdn.127.net/d6bd29fcf2096cb4c5d338e0fce13919.png) 0 2px no-repeat;
                }
                .smalli2 {
                    background: url(https://yanxuan.nosdn.127.net/178e29b95f152a8aa6490f4f7032a8e8.png) 0 2px no-repeat;
                }
                .smalli3 {
                    background: url(https://yanxuan.nosdn.127.net/49f4a785eb9ded4831d8cb0ede642b3e.png) 0 2px no-repeat;
                }
            }
            #username,
            #password,
            #email {
                width: 220px;
                height: 30px;
                border-radius: 10px;
                outline: none;
                text-indent: 30px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
            #submit {
                width: 140px;
                height: 48px;
                cursor: pointer;
                text-align: center;
                color: #fff;
                background: #b4a078;
                font-size: 18px;
                line-height: 48px;
                border-radius: 2px;
                margin-left: 100px;
                outline: none;
                border: none;
            }
        }
    }
}