* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrap {
    width: 1150px;
    height: 50px;
    /* background-color: #f00; */
    margin: 0 auto;
}

button {
    color: #000;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: #ccc;
    color: #b4a078;
}

.list {
    width: 1160px;
    margin: 0 auto;
    font-size: 14px;
}

.list li {
    width: 200px;
    padding: 10px;
    float: left;
    margin: 0 5px 10px 5px;
    border: 1px solid #ccc;
    height: 310px;
    position: relative;
}

.list li p {
    width: 200px;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
}

.list li img {
    width: 200px;
    height: 200px;
    display: block;
}

.list li span {
    display: block;
}