@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top .nav, .tab, .footer .wrap, .footer .footerbot .wrap, .login .wrap {
  width: 1090px;
  margin: 0 auto;
}

.top {
  width: 100%;
  background-color: #333;
  position: relative;
  line-height: 36px;
  height: 36px;
}
.top .nav {
  height: 36px;
}
.top .nav .laba {
  height: 15px;
  width: 15px;
  float: left;
  margin-top: 10px;
  background: url(http://yanxuan.nosdn.127.net/d132c2561f18f1149d566a60d05fd9b7.gif) no-repeat;
}
.top .notice {
  font-size: 12px;
  float: left;
  color: #CC9756;
  cursor: pointer;
}
.top .notice:hover {
  color: #fff;
  text-decoration: none;
}
.top .phone {
  border-right: none;
}
.top .phone i {
  display: inline-block;
  margin-right: 4px;
  height: 11px;
  width: 7px;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp);
}

.rightul {
  float: right;
}

.rightul > li {
  cursor: pointer;
  float: left;
}
.rightul > li a {
  line-height: 36px;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
  padding: 0 10px;
  border-right: 1px solid #5c5c5c;
}
.rightul > li a:hover {
  color: #fff;
}

.company i {
  display: inline-block;
  transform: rotate(180deg);
  margin-left: 10px;
  height: 5px;
  width: 11px;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 0 -690px;
}
.company ul {
  display: none;
  position: absolute;
  top: 36px;
}
.company:hover ul {
  display: block;
  background-color: #fff;
  z-index: 2;
}
.company:hover ul li {
  background-color: #fff;
}
.company:hover ul a {
  border-right: none;
  line-height: 36px;
  width: 69px;
  color: #ccc;
}
.company:hover ul a:hover {
  color: #b4a078;
}

.tab .tabTop {
  overflow: auto;
  width: 100%;
}
.tab .tabTop .logo {
  float: left;
  width: 212px;
  height: 60px;
  margin: 25px 150px 25px 0;
  background: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 0 -298px;
}
.tab .tabTop .logo a {
  cursor: pointer;
}
.tab .tabMiddle {
  position: relative;
  float: left;
  margin-top: 25px;
  width: 532px;
}
.tab .tabMiddle li {
  height: 60px;
  float: left;
  padding-top: 30px;
}
.tab .tabMiddle a {
  font-size: 8px;
  color: #999;
  padding: 0 10px;
  cursor: pointer;
  line-height: 12px;
  max-width: 444px;
  text-decoration: none;
}
.tab .tabMiddle a:hover {
  color: #b4a078;
}
.tab .tabMiddle input {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 90px;
  z-index: 1;
  display: block;
  height: 38px;
  line-height: 38px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #CC9756;
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
  font-size: 14px;
  width: 442px;
  padding-left: 38px;
  outline: 0;
  overflow: hidden;
}
.tab .tabMiddle .select {
  width: 90px;
  height: 38px;
  background-color: #CC9756;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  float: right;
  color: #fff;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
.tab .tabMiddle .select:hover {
  background-color: #E2C199;
}
.tab .tabRight {
  float: right;
  position: relative;
  cursor: pointer;
  width: 134px;
  height: 38px;
  border: 1px solid #CC9756;
  border-radius: 19px;
  padding: 8px 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Microsoft Yahei", "微软雅黑", verdana;
  color: #333;
  font-size: 12px;
  margin-top: 25px;
}
.tab .tabRight i {
  height: 18px;
  width: 18px;
  float: left;
  margin-left: 22px;
}
.tab .tabRight .firi {
  margin-right: 10px;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 0 -148px;
}
.tab .tabRight .seci {
  border-radius: 50%;
  color: #fff;
  margin-left: 4px;
  line-height: 18px;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) 0 -51px;
}
.tab .tabRight span {
  line-height: 18px;
  font-size: 14px;
  float: left;
  color: #CC9756;
}
.tab .tabRight:hover {
  background-color: #F5F3EF;
}
.tab .tabBot {
  position: relative;
}
.tab .tabBot ul {
  width: 100%;
}
.tab .tabBot li {
  float: left;
  padding: 0 26px;
  box-sizing: border-box;
  position: relative;
}
.tab .tabBot li:hover .menu {
  display: block;
}
.tab .tabBot a {
  padding-bottom: 7px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  box-sizing: border-box;
}
.tab .tabBot a:hover {
  color: #CC9756;
  border-bottom: 3px solid #CC9756;
}
.tab .tabBot .menu {
  width: 1202px;
  position: absolute;
  height: 450px;
  background-color: #fff;
  top: 38px;
  left: 50%;
  margin-left: -180px;
  z-index: 9999;
  display: none;
}
.tab .tabBot .menu li {
  float: none;
}
.tab .tabBot .shouye {
  padding-left: 0;
}
.tab .tabBot .shouye a {
  color: #CC9756;
  border-bottom: 3px solid #CC9756;
}
.tab .tabBot .zhongchou {
  padding-right: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer {
  width: 100%;
  border-top: 1px solid #999;
}
.footer .footertop {
  height: 204px;
  padding: 60px 0 34px 0;
}
.footer .fleft {
  text-align: center;
  float: left;
  width: 363px;
  height: 204px;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  border-right: 1px solid #e9e9e9;
}
.footer .fleft h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}
.footer .fleft a {
  display: inline-block;
  width: 80px;
  height: 100px;
  font-size: 14px;
  background-color: #fff;
  padding-top: 25px;
  border: 1px solid #E8E8E8;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  box-sizing: border-box;
}
.footer .fleft a:hover {
  color: #b4a078;
}
.footer .fleft a i {
  display: inline-block;
  height: 26px;
  width: 31px;
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -254px;
}
.footer .fleft a .sec {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -60px;
}
.footer .fleft a p {
  margin-top: 10px;
}
.footer .fleft .seca {
  margin-left: 29px;
}
.footer .fcenter {
  float: left;
  text-align: center;
  float: left;
  width: 362px;
  height: 204px;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  border-right: 1px solid #e9e9e9;
}
.footer .fcenter h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}
.footer .fcenter p {
  display: block;
  line-height: 23px;
  font-size: 13px;
  text-align: left;
  padding: 0 37px;
  margin-bottom: 22px;
}
.footer .fcenter .guanzhu {
  height: 42px;
  padding: 0 37px;
  text-align: left;
}
.footer .fcenter .guanzhu span {
  font-size: 14px;
}
.footer .fcenter .guanzhu i {
  margin: auto 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 42px;
  margin-right: 10px;
  cursor: pointer;
}
.footer .fcenter .guanzhu .yanxuan {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -470px;
}
.footer .fcenter .guanzhu .weixin {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -428px;
}
.footer .fcenter .guanzhu .weibo {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -326px;
}
.footer .fright {
  float: left;
  text-align: center;
  float: left;
  width: 362px;
  height: 204px;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
}
.footer .fright h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}
.footer .fright span {
  display: block;
  width: 104px;
  height: 104px;
  margin: 0 auto;
  background-color: #f0f;
}
.footer .fright p {
  color: #b4a078;
  margin-top: 3px;
}
.footer .footerbot {
  width: 100%;
  height: 268px;
  padding-top: 37px;
  box-sizing: border-box;
  background-color: #414141;
}
.footer .footerbot .wrap {
  height: 225px;
}
.footer .footerbot .bottop {
  margin-bottom: 30px !important;
  padding-left: 17px;
  height: 50px;
  box-sizing: border-box;
}
.footer .footerbot .bottop i {
  height: 50px;
  width: 50px;
  margin-right: 17px;
  float: left;
}
.footer .footerbot .bottop .box {
  float: left;
  width: 25%;
  text-align: center;
}
.footer .footerbot .bottop .fir {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -134px;
}
.footer .footerbot .bottop .sec2 {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -368px;
}
.footer .footerbot .bottop .thr {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp);
}
.footer .footerbot .bottop .four {
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 0 -194px;
}
.footer .footerbot .bottop span {
  float: left;
  font-size: 18px;
  line-height: 51px;
  color: #fff;
}
.footer .footerbot .botbot {
  border-top: 1px solid #666;
}
.footer .footerbot .firline {
  margin-top: 20px;
  text-align: center;
}
.footer .footerbot .firline a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
.footer .footerbot .firline a:hover {
  color: #fff;
}
.footer .footerbot .secline,
.footer .footerbot .thrline,
.footer .footerbot .fourline {
  text-align: center;
  margin: 11px 0;
}
.footer .footerbot .secline a,
.footer .footerbot .thrline a,
.footer .footerbot .fourline a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
.footer .footerbot .secline a:hover,
.footer .footerbot .thrline a:hover,
.footer .footerbot .fourline a:hover {
  color: #fff;
}
.footer .footerbot .secline span,
.footer .footerbot .thrline span,
.footer .footerbot .fourline span {
  color: #999;
  font-size: 12px;
}
.footer .footerbot .thrline,
.footer .footerbot .fourline {
  padding-bottom: 11px;
  margin: 0 0;
}
.footer .footerbot .fourline img {
  display: inline-block;
  width: 23px;
  height: 25px;
  margin-top: -5px;
  box-sizing: border-box;
  cursor: pointer;
}

/* 中间登录页面 */
.login {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 145px;
  overflow: hidden;
  /* 版心控制 */
}
.login img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}
.login .wrap fieldset {
  padding: 58px 40px 83px;
  position: absolute;
  top: 50px;
  left: 45%;
  margin-left: 0;
  background-color: #fff;
}
.login .wrap fieldset legend {
  text-align: center;
  padding-top: 50px;
  color: #b4a078;
  font-size: 20px;
}
.login .wrap fieldset p {
  margin: 20px 100px;
}
.login .wrap fieldset .zhuce {
  text-decoration: none;
  color: #fff;
  background-color: #b4a078;
  display: inline-block;
}
.login .wrap fieldset .denglu {
  display: inline-block;
}
.login .wrap fieldset #username,
.login .wrap fieldset #password {
  width: 220px;
  height: 30px;
  border-radius: 15px;
  outline: none;
}
.login .wrap fieldset #login,
.login .wrap fieldset .zhuce {
  width: 140px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #b4a078;
  font-size: 18px;
  line-height: 48px;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
  border: none;
}

/*# sourceMappingURL=login.css.map */
